<%- include('../layouts/header.ejs', {css_list: ['form', 'auth']}) %>

<form class="login-form" action="/login" method="POST">
    <div class="form-control">
        <label for="email">Title</label>
        <input type="text" name="email" id="email">
    </div>
    <div class="form-control">
        <label for="password">Title</label>
        <input type="text" name="password" id="password">
    </div>
    <button class="btn" type="submit">Login</button>
</form>
<%- include('../layouts/footer.ejs') %>