<article class="card product-item">
    <%- include('./ProdInfo', {prod}) %>
    <div class="card__actions">
        <button class="btn">
            <a href="/admin/edit-product/<%= prod.id %>?edit=true">Edit</a>
        </button>
        <form action="/admin/delete-product" method="POST">
            <input type="hidden" name="id" value="<%= prod.id %>">
            <button class="btn" type="submit">Delete</button>
        </form>
    </div>
</article>