<article class="card product-item">
    <%- include('./ProdInfo', {prod}) %>
    <div class="card__actions">
        <button class="btn">
            <a href="/products/<%= prod._id %>">Details</a>
        </button>
        <%- include('../cart/AddToCart',{id: prod._id}) %>
    </div>
</article>