<%- include('../layouts/header.ejs', {css_list: []}) %>
<main class="centered">
    <h1>Product Detail</h1>
    <%- include('../components/prod/ProdInfo',{prod:prod}) %>
    <% if(isauthenticated) { %>
        <%- include('../components/cart/AddToCart',{id: prod.id}) %>
    <% } %>
</main>
<%- include('../layouts/footer.ejs') %>